@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-size: normal;
  font-display: swap;
}

:root {
  --secundary-color: #b81515;
  --primary-color: #8f0101;

  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #0000;

  --text-primary-color: #222222;
  --text-primary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET*/
body,
img,
h1,
p,
fieldset,
legend,
label,
inout,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
